

@model ShoppingCart 


<form method="post">
    <div class="container mt-5 mb-5">
        <input hidden asp-for="ProductId" />
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="images p-3">
                                <div class="text-center p-4"> <img id="main-image" src="@Model.Product!.ImageUrl" width="250" /> </div>
                                <div class="thumbnail text-center"> <img onclick="change_image(this)" src=".." width="70"> <img onclick="change_image(this)" src=".." width="70"> </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product p-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i><button class="btn btn-secondary text-uppercase mr-2 px-4">Back</button> </div> <i class="fa fa-shopping-cart text-muted"></i>
                                </div>
                                <div class="mt-4 mb-3">

                                    <h5 class="text-uppercase">@Model.Product.ProductName</h5>
                                    <div class="price d-flex flex-row align-items-center">
                                        <span class="act-price">Sale Price:@Model.Product.Sale_Price</span>

                                    </div>
                                    <div class="ml-2"> <small class="dis-price">Price:@Model.Price</small>  </div>

                                    <div class="ml-2">
                                        <span class="text-uppercase text-muted brand">Color:@Model.Product.Color</span>
                                    </div>
                                </div>
                                <p class="about">@Html.Raw(Model.Product.Description)</p>
                                <div class="sizes mt-5">
                                    @*<select asp-for="Size" asp-items="@Model.SizeModel." class="form-select mb-3">
                <option disabled selected>-Select Role-</option>
            </select>*@
                                    @*<h6 class="text-uppercase">Size</h6> <label class="radio">
                <input asp-for="Size" type="radio" name="size" value="0-6 months" checked> <span>0-6 months</span>
            </label> <label class="radio">
                <input asp-for="Size" type="radio" name="size"  value="6-12 months"> <span>6-12 months</span>
            </label> <label class="radio">
                <input asp-for="Size" type="radio" name="size" value="1-2 years" > <span>1-2 years</span>
            </label> <label class="radio"> <input type="radio" name="size" value="2-3 years"> <span>2-3 years</span> </label> <label class="radio">
                <input asp-for="Size" type="radio" name="size" value="3-4 years" > <span>3-4 years</span>
            </label>*@
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text bg-secondary text-white border-0 fw-semibold"
                                                  id="inputGroup-sizing-default">Count</span>
                                            <input asp-for="Count" type="number" value="1" class="form-control text end" />

                                        </div>

                                    </div>
                                </div>

                                @if (User.IsInRole(SD.Role_User))
                                    {
                                    <div class="mt-4 align-items-center">
                                        <button asp-controller="Home" asp-action="AddtoCart" type="submit"
                                                class="btn btn-secondary text-uppercase mr-2 px-4">
                                            Add to cart
                                        </button>

                                        <button type="submit" asp-controller="Home" asp-action="AddtoFav"
                                                class="btn btn-secondary text-uppercase mr-2 px-4">
                                            favourites
                                        </button>
                                        @*<a asp- asp-action="Index" class="btn btn-secondary border-0 bg-gradient w-100 py-2">Favourites</a>*@
                                        @*<i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i>*@
                                    </div>
                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>