@model IEnumerable<ProductModel>

    <div class="card bg-dark text-dark pb-10">
        <img src="images/banner/cover-2.jpeg" class="card-img" alt="..." height="400px">
        <div class="card-img-overlay">
            <h5 class="card-title text-centre">NEW COLLECTIONS</h5>
            @*<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>*@
            <p class="card-text text-center">LIVE NOW</p>
        </div>
    </div>
<div class="row pb-3">
    @foreach(var product in Model)
    {
           <div class="col-lg-3 col-sm-6">
               <div class="row p-2">
                   <div class="col-12 p-1">
                       <div class="card border-0 p-3 shadow border-top border-5 rounded " >
                           <img src="@product.ImageUrl" class="card-img-top rounded" width=" 200px" height="300px" />
                           <div class="pl-1">
                               <p class="card-title h5 text-dark opacity-75 text-uppercase text-centre">@product.ProductName</p>

                           </div>
                           <div class="pl-1">
                               <p class="text-dark text-opacity-75 text-center mb-0">Price:<span class="text-decoration-line-through">@product.Price.ToString() $</span></p>
                           </div>
                           <div class="pl-1">
                               <p class="text-dark text-opacity-75 text-center ">Now:<span>@product.Sale_Price.ToString() $</span></p>
                           </div>
                       </div>
               </div>
                   <a href="#" class="btn btn-secondary bg-gradient border-0 form-control">Details</a>
           </div>
          </div>
    }
</div>