

<form method="post">

    <div class="card">
        <div class="card-header bg bg-secondary text-center">
            <h3>Wallets</h3>
        </div>
        <div class="card-body">
            @*<div class="row mb-3 pb-3">
                    <a  asp-controller="Wallet" asp-action="Index" class="btn btn-secondary text-uppercase mb-5 btn-sm">Continue shopping</a>
                </div>*@

            <div class="col-md-10 offset-md-1">

                <div class="row border-bottom pb-3">

                    <div class="col-12 col-lg-6 pt-md-3">
                        @*<h5 class="text-uppercase text-sedondary"> @Model.ApplicationUser </h5>*@
                        <input type="hidden" />

                        @*@foreach (var wallet in @Model.WalletList)
                            {*@
                        <h5 class="text-uppercase text-sedondary text-center">Your Balance is  @ViewBag.Message</h5>
                        @*}*@


                    </div>

                    <div class="col-12  row">
                        <div class="row">
                            <div class="col-md-4 offset-md-4">
                                <button type="submit" asp-controller="wallet"
                                        class="btn btn-secondary text-uppercase mr-2 px-4">
                                    Wallet History
                                </button>



                            </div>


                        </div>


                    </div>
                </div>

            </div>
        </div>
        <table id="walTbl" class="table table-bordered table-striped" width="100%">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Wallet Balance
                    </th>


                    <th>
                        Order ID
                    </th>

                    <th></th>


                </tr>
            </thead>

        </table>
    </div>

   

</form>

@section Scripts{

    <script src="~/js/wallet.js"></script>
}