

@model WalletModel

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">

        <div class="row">

            <h1 class="text-white">Wallets</h1>
        </div>
    </div>
        <div class="card-body" p-4>
            <div class="d-flex just-content-between pb-5 pt-2">
                <span class="text-uppercase text-sedondary text-center">
                    Your Balance is  @ViewBag.Message
                </span>

                <input type="hidden" />
                <div>
                    


                </div>


            </div>


    <h3>Wallet History</h3>

    <table id="walTbl" class="table table-bordered table-striped" width="100%">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Wallet Balance
                </th>


                <th>
                    Order ID
                </th>

                <th></th>


            </tr>
        </thead>

    </table>

    <form method="post">


        <div>
            <button type="submit" class="btn btn-secondary " asp-action="TopUpWallet" asp-controller="Wallet">TopUp Wallet</button>
        </div>
        <div class="col-6">
            <label class="form-label" asp-for="WalletBalance"> Amount  </label>
            <input type="number" name="amount" class="form-control" asp-for="WalletBalance" />
            <span asp-validation-for="WalletBalance" class="text-danger"></span>
        </div>

    </form>

<!--<a class="btn btn-primary" id="openModalButton">Recharge Wallet</a>-->
<!-- First Modal -->
<!--<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">-->
<!-- Add address form or content here -->
<!--<div>
                    <label class="form-label"> Amount </label>
                    <input type="number" name="amount" class="form-control" asp-for="WalletBalance" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary " asp-action="TopUpWallet" asp-controller="Wallet">Go To Payment</button>
                <button type="button" class="btn btn-secondary close-modal-btn">Close</button>

            </div>
        </div>
    </div>
</div>-->

@section Scripts{

    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/wallet.js"></script>


}


