@model AddressModel


@{
    ViewData["Title"] = "AddAddress";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="AddAddress">
            <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
            <div class="modal fade" role="dialog" id="popup-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">

                            <label asp-for="Address" class="p-0"></label>
                            <input asp-for="Address" class="form-control" />

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="City" class="p-0"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="State" class="p-0"></label>
                            <input asp-for="State" class="form-control" />
                            <span asp-validation-for="State" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PostalCode" class="p-0"></label>
                            <input asp-for="PostalCode" class="form-control" />
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="MobileNumber" class="p-0"></label>
                            <input asp-for="MobileNumber" class="form-control" />
                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-6 col-md-6">
                            <button type="submit" asp-action="AddAddress" asp-controller="Cart" class="btn btn-secondary form-control">Add</button>
                        </div>
                        <div class="col-6 col-md-6">
                            <a asp-controller="Cart" asp-action="Summary" class="btn btn-primary border form-control">Back To Summary</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}

