@model int


<div class="row">
    <div class="col-75">
        <div class="container">
            <form method="post">
                <input asp-for="@Model" hidden />
                <div class="row">
                    <div class="col-50">
                        <div>
                            <p>Please select your Payment Method</p>
                            <input type="radio" id="COD" name="PaymentMethod" value="COD">
                            <label for="html">Cash On Delivery</label><br>
                            <input type="radio" id="Card" name="PaymentMethod" value="Card">
                            <label for="html">Card Payment</label><br>
                        </div>



                        <div class="col-50">
                            <h3>Payment</h3>
                            <label for="fname">Accepted Cards</label>
                            <div class="icon-container">
                                <i class="bi bi-credit-card" style="color:navy;"></i>
                                <i class="bi bi-cash" style="color:blue;"></i>
                                @*<i class="bi bi-mastercard" style="color:red;"></i>
                        <i class="bi bi-discover" style="color:orange;"></i>*@
                            </div>
                            @*<label  for="cname">Name on Card</label>
                    <input type="text" id="cname" name="cardname" placeholder="John More Doe">
                    <label for="ccnum">Credit card number</label>
                    <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                    <label for="expmonth">Exp Month</label>
                    <input type="text" id="expmonth" name="expmonth" placeholder="September">*@

                            <div class="row">
                                <div class="col-50">
                                    <label>Name on Card</label>
                                    <input type="text" name="cardname" placeholder="NAME">
                                </div>

                                <div class="col-50">
                                    <label for="expyear">Exp Year</label>
                                    <input type="text"  name="expyear" placeholder="2018">
                                </div>
                                <div class="col-50">
                                    <label for="cvv">CVV</label>
                                    <input type="text"  name="cvv" placeholder="352">
                                </div>
                            </div>
                        </div>
                        <div>
                            @*<input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing>*@
                        </div>
                        <div>
                            <button type="submit" asp-action="OrderCheckout"  class="btn btn-secondary form-control" > Complete Payment</button>
                        </div>
                       
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
