@model ShoppingCartVM

<form method="post">
    <div class="container">
        <div class="card show border-0">
            <div class="card-header">
                <p>Summary</p>
            </div>
        </div>
    </div>
</form>