@model FavouritesVM
<form method="post">
    <div class="card">
        <div class="card-header bg bg-secondary text-center">
            <h3>Favourites </h3>
        </div>
        <div class="card-body">
            <div class="row mb-3 pb-3">
                <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-secondary text-uppercase mb-5 btn-sm">Continue shopping</a>
            </div>

            <div class="col-md-10 offset-md-1">
                @foreach (var item in Model.favouritesList)
                {<div class="row border-bottom pb-3">
                        <div class="d-none d-lg-block col-lg-1  py-2">
                            <img src="@item.Product.ImageUrl" class="card-img-top rounded" width="100px" />
                        </div>
                        <div class="col-12 col-lg-6 pt-md-3">
                            <h5 class="text-uppercase text-sedondary">@item.Product!.ProductName</h5>
                            <p><small>@Html.Raw(item.Product.Description)</small></p>
                        </div>
                        <div class="col-12  row">
                            <div class="row">
                                <div class="col-md-4 offset-md-4">
                                    <button type="submit"
                                            class="btn btn-secondary text-uppercase mr-2 px-4">
                                        Add to cart
                                    </button>
                                    <a asp-action="remove" asp-route-favouritesId="@item.Id" class="btn btn-danger bg-gradient py-2">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </div>
                                

                            </div>
                            
                            
                        </div>
                    </div>
                }
            </div>
        </div>
        
           
      </div>

</form>