@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<h2>Sales Chart</h2>

<form asp-controller="SalesReport" asp-action="SalesChart" asp-area="Admin" method="get">
    <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" class="form-control" />
    </div>
    <div class="form-group">
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Generate Report</button>
</form>


<canvas id="salesChart" width="400" height="200"></canvas>
@section Scripts{
<script>
    var startDate = new Date('@Model.StartDate.ToString("yyyy-MM-dd")');
    var endDate = new Date('@Model.EndDate.ToString("yyyy-MM-dd")');
    var salesData = @Html.Raw(Json.Serialize(Model.SalesData));

    var ctx = document.getElementById('salesChart').getContext('2d');
    var salesChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: salesData.map(data => data.Date),
            datasets: [{
                label: 'Sales Report',
                data: salesData.map(data => data.Total),
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'day',
                        displayFormats: {
                            day: 'MMM D'
                        }
                    },
                    title: {
                        display: true,
                        text: 'Date'
                    },
                    min: startDate,
                    max: endDate
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Total Sales'
                    }
                }
            }
        }
    });
</script>

}