@model CouponModel
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-secondary">Create Coupon</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="CouponCode" class="p-0"></label>
            <input asp-for="CouponCode" class="form-control" />
            <span asp-validation-for="CouponCode" class="text-danger"></span>
        </div>
        
       
        <div class="mb-3 row p-1">
            <label asp-for="ValidTill" class="p-0"></label>
            <input asp-for="ValidTill" class="form-control" />
            @*<span asp-validation-for="ValidTill" class="text-danger"></span>*@
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Discount" class="p-0"></label>
            <input asp-for="Discount" class="form-control" />
            <span asp-validation-for="Discount" class="text-danger"></span>

        </div>
        
        <div class="mb-3 row p-1">
            <label asp-for="MinCartAmount" class="p-0"></label>
            <input asp-for="MinCartAmount" class="form-control" />
            <span asp-validation-for="MinCartAmount" class="text-danger"></span>

        </div>
        <div class="mb-3 row p-1">
            <label asp-for="MaxAmount" class="p-0"></label>
            <input asp-for="MaxAmount" class="form-control" />
            <span asp-validation-for="MaxAmount" class="text-danger"></span>

        </div>

        <div class="row">

            <div class="col-6 col-md-6">
                <button type="submit" class="btn btn-secondary form-control">Create</button>
            </div>
            <div class="col-6 col-md-6">
                <a asp-controller="Coupon" asp-action="Index" class="btn btn-primary border form-control">Back To list</a>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}-->