@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}



@model List<CouponModel>


<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-secondary">
                Coupon
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Coupon" asp-action="Create" class="btn btn-secondary">
                <i class="bi bi-plus-circle"></i> Create New
            </a>
        </div>
    </div>
    <h1> Coupon List</h1>
    <table id="couponTable" class="table table-bordered table-striped" width="100%">
        <thead>
            <tr>
                <th>Coupon code</th>
                <th>Valid Till </th>
                <th> Discount</th>
                <th>Min Cart amount</th>
                <th>Max Amount</th>
                <th></th>

            </tr>
        </thead>

    </table>

</div>


@section Scripts{

    <script src="~/js/coupon.js"></script>
}
