@model ProductViewModel


<div class="card shadow border-0cmt-4 ">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">@(Model.Product.Id!=0?"Update":"Create") Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden />
            <input asp-for="Product.ImageUrl"hidden />
                   <div class="row">
                       <div class="col-10">
                           <div class="border p-3 ">

                               <div class="mb-3 row p-1">
                                   <label asp-for="Product.ProductName" class="p-0"></label>
                                   <input asp-for="Product.ProductName" class="form-control" />
                                   <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                               </div>

                               <div class="mb-3 py-2 col-12">
                                   <label asp-for="Product.Description" class="p-0 text-muted"></label>
                                   <textarea asp-for="Product.Description" class="form-control"></textarea>
                                   @*<span asp-validation-for="Product.Description" class="text-danger"></span>*@
                               </div>
                               <div class="mb-3 row p-1">
                                   <label asp-for="Product.CategoryId" class="form-control"></label>
                                   <select asp-for="Product.CategoryId" asp-items="@Model.CategoryLlist" class="form-select">
                                       <option disabled selected>-Select Category-</option>
                                   </select>

                                   <span asp-validation-for="Product.CategoryId" class="text-danger"></span>

                               </div>
                               <div class="mb-3 row p-1">
                                   <label asp-for="Product.Price" class="p-0"></label>
                                   <input asp-for="Product.Price" class="form-control" />
                                   <span asp-validation-for="Product.Price" class="text-danger"></span>

                               </div>
                               <div class="mb-3 row p-1">
                                   <label asp-for="Product.Sale_Price" class="p-0"></label>
                                   <input asp-for="Product.Sale_Price" class="form-control" />
                                   <span asp-validation-for="Product.Sale_Price" class="text-danger"></span>

                               </div>
                               <div class="mb-3 row p-1">
                                   <label asp-for="Product.QuantityInStock" class="p-0"></label>
                                   <input asp-for="Product.QuantityInStock" class="form-control" />
                                   <span asp-validation-for="Product.QuantityInStock" class="text-danger"></span>

                               </div>
                               <div class="mb-3 row p-1">
                                   <label asp-for="Product.Color" class="p-0"></label>
                                   <input asp-for="Product.Color" class="form-control" />
                                   <span asp-validation-for="Product.Color" class="text-danger"></span>

                               </div>
                               <div class="mb-3 row p-1">
                                   <label asp-for="Product.ImageUrl" class="p-0"></label>
                                   <input type="file" name="file" class="form-control" />


                               </div>
                               <div class="row">

                                   <div class="col-6 col-md-6">
                                       @if (Model.Product.Id != 0)
                                       {

                                           <button type="submit" class="btn btn-secondary form-control">Update</button>
                                       }

                                       else
                                       {
                                           <button type="submit" class="btn btn-secondary form-control">Create</button>

                                       }

                                   </div>
                                   <div class="col-6 col-md-6">
                                       <a asp-controller="Product" asp-action="Index" class="btn btn-primary border form-control">Back To list</a>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="col-2">
                           <img src="@Model.Product.ImageUrl" width="100px" height="100px" style="border-radius:5px;border:1px solid #bbb9b9" />
                       </div>
                   </div>
           
        </form>
    </div>
</div>

@section Scripts{
    <script>tinymce.init({
      selector: 'textarea',
      plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    forced_root_block: "", 
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ],
      ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
    });</script>

    @{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}
